/* css styles */
.navbar-logo {
  max-height: 50px;
}

.quarto-title-banner h1, .quarto-title-banner .h1, .quarto-title-banner h2, .quarto-title-banner .h2 {
    color: #fff;
    text-shadow: -1px 1px 1px rgb(41, 33, 33);
  }

.quarto-title-banner {
    color: #fff;
}

.quarto-title .quarto-categories .quarto-category {
    font-size: .85em;
    font-weight: 600;
    opacity: 1;
    color: #fff;
    background-color: rgb(56, 59, 59);
  }

.abstract {
  color: rgb(56, 59, 59);
  background-color: #e4e2e2;
  border: solid 1px;
  padding: .25em .75em;
  border-radius: .25rem;
  font-size: .85em;
  font-weight: 500;
  opacity: 0.7;  
}

#title-block-header .abstract {
  margin-block-start: 3rem;
}

.nav-footer {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.75rem;
}

.nav-footer-left {
  flex: 0 0 15%;
  min-width: 250px;
  max-width: 300px;
  padding: 1rem 1rem;
}

.nav-footer-center {
  flex: 0 0 84%;
  text-align: right;
  padding: 1rem 1rem;
  
}

.nav-footer-right {
  flex: 0 0 1%;
  padding: 1rem 1rem;
}