/* css styles */
.navbar-logo {
  max-height: 50px;
}

.quarto-title-banner h1, .quarto-title-banner .h1, .quarto-title-banner h2, .quarto-title-banner .h2 {
    color: #fff;
    text-shadow: -1px 1px 1px rgb(41, 33, 33);
  }

.quarto-title-banner {
    color: #fff;
}

.quarto-title .quarto-categories .quarto-category {
    font-size: .85em;
    font-weight: 600;
    opacity: 1;
    color: #fff;
    background-color: rgb(56, 59, 59);
  }